/* 1. системна тема (за замовчуванням) */
:root {
  --bg: #ffffff;
  --bg-light: #ededed;
  --text: #202124;
  --border: #C6D8E6;
  --outage: #dce3eb;
  --accent: #ff9900;
  --text-accent: #ffffff;
  --select-bg: #ffffff;
  --select-shadow: #a1a1a1;
  --option-hover: #dce3eb;
  --option-scrollbar-thumb: #dddddd;
}

/* 2. якщо система попросила темну */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202124;
    --bg-light: #2a2a2a;
    --text: #abacbb;
    --border: #3d3d3d;
    --outage: #000000;
    --accent: #ce7b00;
    --text-accent: #fafafa;
    --select-bg: #353535;
    --select-shadow: #141414;
    --option-hover: #000000;
    --option-scrollbar-thumb: #7e7e7e;
  }
}

/* 3. якщо користувач у popup натиснув “Темна” */
[data-theme="dark"] {
  --bg: #202124;
  --bg-light: #2a2a2a;
  --text: #abacbb;
  --border: #3d3d3d;
  --outage: #000000;
  --accent: #ce7b00;
  --text-accent: #fafafa;
  --select-bg: #353535;
  --select-shadow: #ffffff;
  --option-hover: #141414;
  --option-scrollbar-thumb: #7e7e7e;
}

/* 4. якщо користувач натиснув “Світла” */
[data-theme="light"] {
  --bg: #ffffff;
  --bg-light: #ededed;
  --text: #202124;
  --border: #C6D8E6;
  --outage: #dce3eb;
  --accent: #ff9900;
  --text-accent: #ffffff;
  --select-bg: #ffffff;
  --select-shadow: #a1a1a1;
  --option-hover: #dce3eb;
  --option-scrollbar-thumb: #dddddd;
}